<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {{ if .IsHome }}
      {{ site.Title }}
    {{ else }}
      {{ .Title }} | {{ site.Title }}
    {{ end }}
  </title>

  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="container">

<header class="site-header">

  <h1 class="site-title">
    <a href="{{ "/" | relURL }}">{{ site.Title }}</a>
  </h1>

  {{ with site.Params.description }}
  <p class="site-description">
    {{ . }}
  </p>
  {{ end }}

  <nav class="main-nav">
    <ul>
      {{ range site.Menus.main }}
      <li>
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </nav>

</header>

<main class="content">
  {{ block "main" . }}{{ end }}
</main>

</div>

<script data-goatcounter="https://diariodeunesclavo.goatcounter.com/count"
        async src="https://gc.zgo.at/count.js"></script>

</body>
</html>