{{ define "main" }}

<header class="section-header">

  <h1>diario</h1>

</header>

{{ $posts := where site.RegularPages "Section" "posts" }}

<ul class="post-list">

{{ range $posts.ByDate.Reverse }}

<li>

  <h2>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h2>

  <p class="post-date">
   {{ $meses := dict "January" "enero" "February" "febrero" "March" "marzo" "April" "abril" "May" "mayo" "June" "junio" "July" "julio" "August" "agosto" "September" "septiembre" "October" "octubre" "November" "noviembre" "December" "diciembre" }}
{{ .Date.Day }} {{ index $meses (.Date.Format "January") }} {{ .Date.Year }}
  </p>

  {{ with .Plain }}
  <p>{{ . | truncate 260 }}</p>
  {{ end }}

</li>

{{ end }}

</ul>

{{ end }}
