{{ define "main" }}

<section class="home-intro">

  <p class="intro">
    más de veinte años escribiendo.
  </p>

</section>

<section class="home-latest">

  <h2>últimas entradas</h2>

  {{ $posts := first 5 (where site.RegularPages "Section" "posts").ByDate.Reverse }}

  <ul class="post-list">

    {{ range $posts }}

    <li>

      <h3>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h3>

      <p class="post-date">
        {{ .Date.Format "2 January 2006" }}
      </p>

      {{ with .Plain }}
      <p>{{ . | truncate 220 }}</p>
      {{ end }}

    </li>

    {{ end }}

  </ul>

</section>

{{ end }}
