{{ define "main" }}

<article class="page">

  <h1>{{ .Title }}</h1>

<p style="color:red;font-size:2rem;">PRUEBA ARCHIVO</p>

  {{ .Content }}

  {{ $posts := where site.RegularPages "Section" "posts" }}

  {{ range ($posts.GroupByDate "2006") }}

    <details class="archive-year">

      <summary>
        {{ .Key }}
        <span>({{ len .Pages }})</span>
      </summary>

      {{ range (.Pages.GroupByDate "January") }}

        <details class="archive-month">

          <summary>
            {{ .Key }}
            <span>({{ len .Pages }})</span>
          </summary>

          <ul>

            {{ range .Pages.ByDate.Reverse }}

              <li>
                <a href="{{ .RelPermalink }}">
                  {{ .Date.Format "02" }} · {{ .Title }}
                </a>
              </li>

            {{ end }}

          </ul>

        </details>

      {{ end }}

    </details>

  {{ end }}

</article>

{{ end }}
